p {
    font-family: Lato;
  }
 #D{
    background-color: black;
    color: bisque;
 }
 #B{
    background-color: #63b9cf;
    color: rgb(249, 247, 247);
 }
 #Y{
    background-color: #e9eb73;
    color: rgb(31, 7, 128);
 }
 #P{
    background-color: #f16d6d;
    color: rgb(0, 0, 0);
 }
 

 